<!-- photo, name, contact -->
<div class="col-md-3 col-xs-12 about-intro">
    <img src="images/photo.jpg" class="portrait" /><br>
    <b>Jared Cunrui Li</b><br/>
    <a href="mailto:jared.cunrui.li@gmail.com">jared.cunrui.li@gmail.com</a>
</div>
<!-- portfolio -->
<div class="col-md-9 col-offset-3 col-xs-12 about-profile">
<p>7+ years’ experience of web development. At previous positions I work on both back end and front end. Currently, I’m using PHP and MySQL for back end development and AngularJS+Bootstrap for front end development. For most of my projects, I work out the requirements and system architecture with other colleagues and do the coding work by myself. This strengthens my communication skills and also makes me very independent when coding.</p>
<p>I would like to be more focus on front end development because the front end technologies are developing very fast. This brings lots of opportunities and challenges. Another reason is I like coding in Javascript, which is an amazing language. It’s easy to use, very flexible but with powerful functionalities.</p>
<p>I like learning new technologies. Glad to pushing innovation ideas into projects.</p>
</div>
